{
  "language": "en",
  "db": {
    "dbName": "RocketSMIMEBrowserExtensionDatabase",
    "dbVersion": 1,
    "records_expiration_minutes": 10080,
    "stores": {
      "results": "results"
    }
  },
  "tooltipster": {
    "selector": ".tooltip",
    "animation": "fade",
    "themeSuccess": "tooltipster-punk",
    "themeError": "tooltipster-noir",
    "trigger": "hover",
    "maxWidth": 400
  },
  "inboxSDK": {
    "API_VERSION": 2,
    "API_KEY": "[ADD YOUR KEY HERE]"
  },
  "logger": {
    "debugMode": true,
    "prefix": "Rocket S/MIME Browser Extension: "
  },
  "smimeVerification": {
    "requireRootCerts": true,
    "requireRevocationCheck": false,
    "ocspUrl": "[ADD YOUR URL HERE]",
    "certificates": {
      "filename": "IncludedCACertificateWithPEMReport.csv"
    }
  }
}